:ruby
  logged_in = session[:login]
.row.text-center
  %h1 Rentables
  - if logged_in
    = link_to 'New Rentable', new_rentable_path, class: "new-action-button"

%ul.rentables
  - @rentables.each do |rentable|
    %li  
      = image_tag "#{image_or_none(rentable.image_name)}", class: "rentable-image"
      .rentable-list-info
        = link_to rentable.name, rentable, class: "name"
        .category
          = rentable.category
        .location
          = "Store: #{rentable.location}"
        .quantity-text{class: "#{rentable.quantity == 0 ? "not-available" : "available"}"}
          = "#{rentable.quantity} available in store"
      - if logged_in
        .admin-functions
          = link_to 'Edit', edit_rentable_path(rentable), class: "edit-action-button"
          = link_to 'Destroy','', :data => { :confirm => 'Are you sure?' }, class: "dangerous-action-button"
      - else
        = link_to 'Reserve',rentable, class: "reserve-button"

