%p#notice= notice

.rentable-detail-container
  %h1
    = @rentable.name
  = image_tag "#{image_or_none(@rentable.image_name)}", class: 'rentable-image'
  %p
    %b Location:
    = @rentable.location
  %p
    %b Quantity:
    = @rentable.quantity
  %p
    %b Category:
    = @rentable.category

  = link_to 'Reserve', new_rent_item_path(rentable_id: @rentable.id), class: 'reserve-action-button'



-# = link_to 'Edit', edit_rentable_path(@rentable)
-# \|
-# = link_to 'Back', rentables_path
