%p#notice= notice

%p
  %b Name:
  = @rentable.name
%p
  %b Location:
  = @rentable.location
%p
  %b Quantity:
  = @rentable.quantity
%p
  %b Category:
  = @rentable.category

= link_to 'Edit', edit_rentable_path(@rentable)
\|
= link_to 'Back', rentables_path
