.row.text-center
  %h1 Store Logs
  .btn-group
    = button_tag 'Download All', class: 'btn btn-primary'
    = button_tag 'Settings', class: 'btn btn-info'
    = button_tag 'Refresh Reports', class: 'btn btn-warning'

%h2 Rental Log

.mod-container
  = label_tag 'Search'
  = text_field_tag 'Search', 'Compactor', disabled: true
  %h3 Current Rental
  %table.table.table-striped
    %tr
      %th Item
      %th Customer
      %th Date Rented
      %th Payment Received
      %th
    %tr
      %td Compactor (Serial: a3r5g)
      %td John Doe
      %td= 2.days.ago
      %td Yes
      %td
        = button_tag 'View Transaction', class: 'btn btn-info'
    %tr
      %td Compactor (Serial: b3t5h)
      %td Customer
      %td= DateTime.now
      %td Yes
      %td
        = button_tag 'View Transaction', class: 'btn btn-info'
%br
.mod-container
  = label_tag 'Search'
  = text_field_tag 'Search', 'Compactor', disabled: true
  %h3 Pending Rentals
  %table.table.table-striped
    %tr
      %th Item
      %th Customer
      %th Date Rented
      %th Payment Received
      %th
    - 3.times do |item|
      %tr
        %td= "Compactor (Serial: #{[*6..9].sample.to_s+"k5jp"})"
        %td= @customers.sample
        %td= [*1..3].sample.days.ago
        %td= ["Yes", "No"].sample
        %td
          = button_tag 'View Transaction', class: 'btn btn-info'
          = button_tag 'Process Request', class: 'btn btn-primary'



%h2
  Warehouse Orders
  = button_tag 'Download Full Report', class: 'btn btn-default'
.mod-container
  %h3
    Pending Orders
    = button_tag 'Download Full Report', class: 'btn btn-warning'
  %table.table
    %tr
      %th Date
      %th From-To
      %th Item
      %th Quantity
      %th
    - (1..3).each do
      %tr
        %td
          = DateTime.yesterday
        %td
          = "#{@warehouses.sample} -> #{@stores.sample}"
        %td
          = "#{@rentables.sample.name}"
        %td
          = [*1..10].sample
        %td
          = button_tag 'Track',  class: 'btn btn-info'
          = button_tag 'Cancel',  class: 'btn btn-danger'

%br
.mod-container
  %h3
    Received
    = button_tag 'Download Full Report', class: 'btn btn-warning'
  %table.table
    %tr
      %th Date
      %th From-To
      %th Item
      %th Quantity

    - (1..5).each do
      %tr
        %td
          = DateTime.yesterday
        %td
          = "#{@warehouses.sample} -> #{@stores.sample}"
        %td
          = "#{@rentables.sample.name} has arrived"
        %td
          = [*1..10].sample

%h2
  Sales Analysis
  = button_tag 'Download Full Report', class: 'btn btn-default'

.mod-container
  %strong= "Period: #{1.month.ago.to_date} - #{1.day.ago.to_date}"
  %table.table
    %tr
      %th Store
      %th Suggestions
      %th
    - @stores.each do |store|
      %tr
        %td
          = store
        %td
          = "#{@rentables.sample.name} has a very high demand in this store. You should purchase #{[*1..10].sample} more of these..."
        %td
          = button_tag 'Read more', class: 'btn btn-info'
